
body {
    width: 400px;
    background-color: #f1f1f1dd;
    margin:0;

}

.button-normal {
    background-color: #09509b;
    border: none;
    color: rgb(249, 249, 249);
    padding: 10px 10px;
    margin: 4px 4px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;

}

.button-normal:hover {
    background-color: #083a70;
    border: none;
    color: rgb(205, 205, 205);
    padding: 10px 10px;
    margin: 4px 4px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}

.button-inverted {
    background-color: rgb(255, 193, 100);
    border: none;
    color: #704508;
    padding: 10px 10px;
    margin: 5px 4px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.button-inverted:hover {
    background-color: rgb(255, 160, 70);
    border: none;
    color: #3e2004;
    padding: 10px 10px;
    margin: 5px 4px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.textbox {
    margin: 5px 5px;
    border: 2px 2px;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #083a70;
    width: 300px;
    height: 200px;
    resize: none;
    font-family: Arial;
}

.textbox2 {
    border: 2px 2px;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #083a70;
    width: 200px;
    height: 25px;
    resize: none;
    font-family: Arial;
}

.textbox1 {
    border: 2px 2px;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #083a70;
    width: 300px;
    height: 75px;
    resize: none;
    font-family: Arial;
}

.background {
    background-color: rgb(234, 237, 243);
}
.settingsdiv{
    float: right;
}
.settings {
    width: 24px;
    height: 24px;
    background-image: url(/icons/gear.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    transition: opacity 0.1s ease-in;
    display: inline;
    margin-left: 8px;
    margin: 4px;
}

.header {
    width: 300px;
    display: inline;
}

.headerdiv {
    width: 400px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b2b2b2;
    background-color: #e9e9e9
}

.leftMargin {
    margin-left: 8px;
}

.bottomMargin {
    margin-bottom:8px;
}

.paragraphHeader {
    width: 100px;
    margin: 0;
}

#narrow {
    width:  320px;
}

#narrow60 {
    width:  60px;
}

#wide {
    flex: 1;
}

#flexing {
    display: flex;
}

.vertical-buttons{
    margin-bottom: 5px;
    margin-bottom: 10px;
}

.greenButton{
    background-color: #017105;
    border: none;
    width: 10px; 
    height: 206px;
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.headerflexcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px; 
}

.headerflexchild {
    flex: 1;
}

.verticalCenter{
    position: relative;
    border: none;
    height: 119px;
    width: 10px;
}

.redButton{
    background-color: #870000;
    border: none;
    color: rgb(237, 237, 237);
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.redButton:hover {
    background-color: #a80000;
    border: none;
    color: rgb(237, 237, 237);
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.redButton{
    background-color: #870000;
    border: none;
    color: rgb(237, 237, 237);
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.scaryTooltip {
    position: relative;
    display: inline-block;
}

.scaryTooltip .scaryTooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(255, 255, 255);
    color: #cc0606;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.scaryTooltip:hover .scaryTooltiptext {
    visibility: visible;
}

.createButton{
    background-color: #006703;
    border: none;
    color: rgb(237, 237, 237);
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.createButton:hover {
    background-color: #008204;
    border: none;
    color: rgb(237, 237, 237);
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.centeredMargin {
    margin-left: 35%;

}

.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
    text-align: center;
}
  
.switch:checked {
    background-color: rgb(25, 153, 23);
}
  
.switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
}
  
.switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}
  
.switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(236, 72, 153, .15)
}
  
.switch:checked:before {
    transform: translateX(100%);
    border-color: rgb(0, 187, 25);
}
